.img {
    width: 70%;
    height: 500px;
    margin: 5%;
    margin-left: 15%;
    border-radius: 5px;
}

.dept {
    color: red;
}

.foot {
    justify-content: center;

    background-color: #213A7C;
    border-bottom: 2px solid yellow;
    color: white;
    /* position:fixed; */
    bottom: 0;
    overflow: hidden;
}

.nav {

    background-color: #213A7C;
    text-align: center;
    /* position: fixed; */
    /* width: 100%; */



}

.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: #25d366;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

.fa,
.fas,
.far,
.fal,
.fab {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.my-float {
    margin-top: 16px;
}

.fa-whatsapp:before {
    content: "\f232";
}

.navbar a {
    color: white;
    background-color: #213A7C;


}

.navbar a:hover {
    background-color: yellow;
    height: auto;
}

.notification {
    color: red;
    margin-top: 70px;
}

.nav1 {
    position: fixed;
    overflow: hidden;
}

.navbar-icon {
    border-bottom: 2px solid yellow;
    box-shadow: 5px;
    background-image: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e);
}

.i-1 {
    background-image: url(../images/chair.svg);
    background-color: #1CC27F !important;
}

.icon-1 {
    padding-left: 26px !important;
    background-position: left 5px top 10px;
    background-repeat: no-repeat;
    background-size: 15px;
}

element.style {
    animation: shadow-pulse 1s infinite;
}

.menu-btns ul li {
    padding: 3px 3px;
    background-color: #6aa9c8;
    margin: 0px 0px 0px 4px;
    display: inline-block;
    color: #fff;
    font-size: 10px;
    border-radius: 5px;
    vertical-align: middle;
}

.i-1 {
    background-image: url(../images/chair.svg);
    background-color: #1CC27F !important;
}

.icon-1 {
    padding-left: 26px !important;
    background-position: left 5px top 10px;
    background-repeat: no-repeat;
    background-size: 15px;
}

.i-1 {
    padding: 11px 5px !important;
}